<style>
  button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: white;
    position: relative;
    height: 100%;
    cursor: pointer;
    padding: 0px 16px;
  }

  button::before {
    content: "";
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    transition: all ease-in-out 0.2s;
  }

  button.selected::before {
    height: 4px;
    width: 100%;
  }

  button::after {
    content: "";
    background: white;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: 0;
  }

  button:hover::after {
    opacity: 0.1;
  }

  button:active:after {
    opacity: 0.2;
  }
</style>
